# Database Configuration
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=abelo_host_tz
DB_USERNAME=root
DB_PASSWORD=root

# MySQL Configuration
MYSQL_PORT=3306

# Application Configuration
APP_PORT=80
APP_ENV=local

# phpMyAdmin Configuration
PMA_PORT=8080