.home-page {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;

    h1 {
        font-size: 2.5rem;
        color: #333;
        margin: 0 0 1rem 0;
        font-weight: 700;
        text-align: center;
    }

    p {
        font-size: 1.125rem;
        color: blue;
        margin: 0;
        text-align: center;
        line-height: 1.6;
    }
}
